@import url(https://fonts.googleapis.com/css2?family=Pacifico&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Pacifico&family=Parisienne&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Pacifico&family=Parisienne&display=swap);


.titulo {

  font-family: Parisienne;
  color: rgba(245, 17, 245, 0.884);
  font-size: 100px;
}




.nombre {
  font-size: 120px;
  font-family: Parisienne, cursive;
  color: darkmagenta;

}
.slide-bottom {
	-webkit-animation: slide-bottom 0.8s linear both;
	        animation: slide-bottom 0.8s linear both;
}
@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
}


.horario {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: antiquewhite;
  font-size: 20px;

}

.contenedor {
  display: flex;
  justify-content: center;
  flex-direction:column;
}

.frase {
  color: rgb(239, 240, 241);
  font-size: 40px;
  font-family: Pacifico;
 
}

.h3 {
  font-family: fantasy;
  font-weight: 300;
  font-size: 60px;
  font-style: italic;
  color: rgb(216, 41, 216);
  text-decoration: underline;
  text-shadow: 6px 6px rgb(253, 253, 253);
}

.scale-up-center {
	-webkit-animation: scale-up-center 5s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite alternate both;
	        animation: scale-up-center 5s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite alternate both;
}
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}


.info {
  color:darkmagenta;
  font-size: 40px;
  font-family: Mystery Quest;
  
}



.boton {

  font-size: 20px;
  font-family: cursive;
  color: rgb(252, 252, 252);
  display: inline-flex;
  
}
.heartbeat {
	-webkit-animation: heartbeat 10s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite ;
	        animation: heartbeat 10s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite ;
}
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

.direccion {
  color: aliceblue;
  font-size: 25x;
  font-family: monospace, cursive;
}
