body {
  background-image: url("../img/brillitos.gif");
  width: auto;
  background-repeat: no-repeat;
  background-size: cover;
}
.body{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
@import url(https://fonts.googleapis.com/css2?family=Pacifico&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Pacifico&family=Parisienne&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Pacifico&family=Parisienne&display=swap);

.principal {
  display: flex;
  flex-direction: column;
}

.titulo {
  font-family: Parisienne;
  color: rgb(175, 127, 238);
  font-size: 100px;
  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}

.frase {
  color:white;
  font-size: 50px;
  font-family:Indie Flower;

}
@import url(https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap);

.nombre_xv {
  display: flex;
  flex-direction: column;
}

.nombre {
  font-size: 110px;
  font-family: Parisienne, cursive;
  color:black;
  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}


.contenedor {
  display: flex;
  justify-content: center;
  flex-direction: column;
}


.scaleUp {
  -webkit-animation: scaleUp 5s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite alternate both;
  animation: scaleUp 5s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite alternate both;
  font-family: Indie Flower;
  font-weight: 300;
  font-size: 90px;
  font-style: italic;
  color: rgb(216, 41, 216);
  text-decoration: underline;
  text-shadow: 6px 6px rgb(253, 253, 253);
}

@-webkit-keyframes scaleUp {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scaleUp {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}


.info {
  color: darkmagenta;
  font-size: 40px;
  font-family: Mystery Quest;

}



.boton {
  background-color: #d40fa391; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.direccion {
  color: aliceblue;
  font-size: 25x;
  font-family: monospace, cursive;
}

.fecha_hora {
  width: 240px;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: rgb(239, 240, 241);
  font-size: 17px;
  font-family: Pacifico;
}