body {
  background-image: url("../img/brillitos.gif");
  width: auto;
  background-repeat: no-repeat;
  background-size: cover;
}


@import url(https://fonts.googleapis.com/css2?family=Pacifico&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Pacifico&family=Parisienne&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Pacifico&family=Parisienne&display=swap);


.principal {
  display: flex;
  flex-direction: column;
}

.titulo {

  font-family: Parisienne;
  color: darkmagenta;
  font-size: 100px;
}

.frase {
  color: rgb(239, 240, 241);
  font-size: 50px;
  font-family: Pacifico;

}


.nombre_xv {
  display: flex;
  flex-direction: column;
}

.nombre {
  font-size: 95px;
  font-family: Parisienne, cursive;
  color: darkmagenta;
}


.contenedor {
  display: flex;
  justify-content: center;
  flex-direction: column;
}



.h3 {
  font-family: fantasy;
  font-weight: 300;
  font-size: 90px;
  font-style: italic;
  color: rgb(216, 41, 216);
  text-decoration: underline;
  text-shadow: 6px 6px rgb(253, 253, 253);
}

.scale-up-center {
  -webkit-animation: scale-up-center 5s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite alternate both;
  animation: scale-up-center 5s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite alternate both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}


.info {
  color: darkmagenta;
  font-size: 40px;
  font-family: Mystery Quest;

}



.boton {

  font-size: 20px;
  font-family: cursive;
  color: rgb(252, 252, 252);
  display: inline-flex;
  height: 60px;
  width: 180px;
}

.direccion {
  color: aliceblue;
  font-size: 25x;
  font-family: monospace, cursive;
}

.fecha_hora {
  width: 240px;
  display: flex;
  text-align: center;
  justify-content: space-between;
  color: rgb(239, 240, 241);
  font-size: 17px;
  font-family: Pacifico;
}